*
{
  font-family: 'open sans';
  margin: 0;
}
img
{
  height: 100%;
  width: 100%;
}
/* ------------ Header ----------- */

/* Logo Airbnb */
header figure img
{
  height: 34px;
  width: 34px;
}

header figure
{
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
}

.fa fa-angle-down
{
  margin-top: 1px;
}

/* Titre "reservez des maintenant ...."*/
h1
{
  font-weight: lighter;
  color: grey;
  margin: 5% auto auto 5%;
}
/* Titre Airbnb */
span
{
  color: red;
  font-weight: bold;
}

/* Barre de recherche */
.container
{
  position: relative;
  padding: 12px;
  padding: 20px;
  border: 1px solid #dce0e0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #dce0e0;
  margin: 6% 2% 2% 5%;
}

/* "rechercher" dans le bouton recherche */

.container a
{
  display: block;
  width: 100%;
  vertical-align: middle;
  color: grey;
  font-weight: 600;
  text-decoration: none;
}

/* Loupe dans le bouton recherche */
.container i
{
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
form
{
  display: none;
}

/* En cas de passage sur écran d'ordinateur */
@media (min-width: 800px){

  .container
  {
    display: none;
  }

  form
  {
    display: flex;
    justify-content: center;
    margin: 3% 7% 3% 7%;
  }
  input
  {
    border: none;
  }

  label
  {
    display: block;
  }

  .fa-long-arrow-right
  {
    color: grey;
  }

  .ou, .quand, .voyageurs
  {
    border: 1px solid lightgrey;
    padding: 8px 10% 8px 10px;
    text-align: left;
    border: 1px solid #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
  }

  button
  {
    background-color: none;
    border: none;
  }
}
/* ---------------- FIN DU HEADER ------------ */
/* Titre "nouveautés à Harlem"*/
h3
{
  color: grey;
  margin: 7% auto 5% 8%;
}


.tablette, .desktop
{
  display: none;
}

/* Section avec photos */
.nouveaute, .reservez, .experiences, .logements
{
  margin: 4% auto auto 8%;
  display: flex;
  justify-content: space-between;
}

.nouveaute img, .reservez img, .experiences img
{
  width: 95%;
  height: 95%;
  align-content: space-between;
  margin-left: .5em;
}

.column p span
{
    font-weight: 600;
    color: black;
}
/* Explication des images */
p
{
  text-align: left;
}

/* Passage sur tablette */
@media (min-width: 745px) {

  .tablette
  {
      display: flex;
  }

  .desktop
  {
    display: none;
  }
}

/* Passage sur ordinateur */
@media (min-width: 1200px) {

  .tablette, .desktop
  {
    display: flex;
    justify-content: space-between;
  }
}
/* Fin de passage sur tablette */

/* Etoiles + commentaires */
.stars i
{
  color: green;
  padding: 3px;
}
.comment
{
  font-size: 12px;
  color: grey;
}

/* Etoile grise */
#etoilegrise
{
  color: lightgrey;
}
 /* Images de la section logemets*/
.logements img
{
  width: 250px;
  height: 150px;
  padding-right: 1em;
}

/* Images de la section destinations */
.destinations img
{
  width: 130px;
  height: 200px;
  padding-right: 1em;
}

.destinations
{
  display: flex;
  justify-content: center;
}

.arrivee img
{
  width: 350px;
  height: 200px;
  margin: 10% 12% auto 8%;
}

.arrivee h2, .button
{
  margin: 1% 12% auto 8%;
}

.arrivee p
{
  margin: .5% 12% 2em 8%;
}

.button
{
  border: 1px solid #008489;
  border-radius: 4%;
  background-color: #008489;
  color: white;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  font-weight: 700;
  font-size: 15px;
}
